.center-contents {
  display: flex;
  justify-content: center;
}

#form-field-final-input ::ng-deep .mat-form-field-wrapper{
   margin-bottom: -1em;
}

.full-width {
  width: 100%;
}

.margin-auto {
  margin: auto;
}

#room-full-error {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

#user-card {
  margin: auto;
  margin-top: 5rem;
  width: 50%
}

#user-card-action {
  display: flex;
  justify-content: center;
  margin-bottom: .1rem;
}

#user-card-header ::ng-deep .mat-card-header-text {
  margin: auto;
}
